Source: clack-gui
Section: utils
Priority: optional
Maintainer: ThisWasAryan <https://github.com/ThisWasAryan>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools, python3-build, python3-installer
Standards-Version: 4.6.2

Package: clack-gui
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-gi, gir1.2-gtk-4.0
Description: Extremely realistic human typing simulator (GTK4 GUI)
 Clack utilizes probabilistic models to simulate how a real human types.
